{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/style.css' %}">
    </head>    
    <title>
        Recipes App Home
    </title>
    
    <body>
        <h1 class="header-text">
            Welcome to my Recipes App
        </h1>
        <br>
        <br>
        <a href="{% url 'login' %}"> Login </a>
        <br>
        <br>
        <img src="{% static 'recipes/images/recipe-one.jpg' %}" alt="recipe-image" width="600px" height="300" class="header-image" >
        <p>Take a look at our Recipes!</p>
        <a class="recipe-list-link" href="{% url 'recipes:recipes_list' %}">View Recipe List</a>
    </body>
</html>